.header {
  display: flex;
  /* justify-content: space-between; */
}
.logo {
  width: 10rem;
  height: 3rem;
}
.header-menu {
  list-style: none;
  margin-left: 17rem;
  display: flex;
  gap: 3rem;
  color: white;
}
.header-menu > li:hover {
  cursor: pointer;
  color: var(--orange);
}
